<%= render 'cards/form', card: card do |form| %>
   <div class="field">
      <%= form.fields_for :actable, card.actable do |a| %>
         <%= a.label :completed %>
         <%= a.check_box :completed %>
      <% end %>
   </div>
<% end %>
