<% link = true if local_assigns[:link].nil? %>

<ul>
   <% objectives.each do |objective| %>
      <li>
         <% if link %>
            <%= link_to objective.title, [objective.campaign, objective] %>
         <% else %>
            <%= objective.title %>
         <% end %>
      </li>
   <% end %>
</ul>
