<% content_for :title, "#{@user.username}'s profile" %>

<% content_for :header do %>
  <h1>
   <%= image_tag @user.gravatar(size: 160), alt: @user.username, class: :gravatar, width: 80 %>
    <%= @user.username %>
  </h1>
<% end %>

<div class="grid">
  <%= render @user.campaigns %>
</div>
