<div
	class="editor"
	<% if card.editable? current_user %>
		data-controller="editor"
		data-editor-action-value="<%= polymorphic_path([card.campaign, card.acting_as]) %>"
		data-editor-search-value="<%= search_campaign_cards_path(card.campaign) %>"
	<% end %>
>

	<% if card.editable? current_user %>
		<script type="application/json" data-editor-target="content">
			<%= card.content.to_json.html_safe %>
		</script>

		<div data-editor-target="bubbleMenu">
			<button data-action="click->editor#format" data-editor-format-param="toggleBold">
				<i class="fa fa-bold"></i>
			</button>
			<button data-action="click->editor#format" data-editor-format-param="toggleItalic">
				<i class="fa fa-italic"></i>
			</button>
		</div>

		<div data-editor-target="floatingMenu">
			<button data-action="click->editor#format" data-editor-format-param="toggleHeading" data-editor-args-param='{ "level": 1 }'>
				<i class="fa fa-header"></i>
				<sub>1</sub>
			</button>
			<button data-action="click->editor#format" data-editor-format-param="toggleHeading" data-editor-args-param='{ "level": 2 }'>
				<i class="fa fa-header"></i>
				<sub>2</sub>
			</button>
			<button data-action="click->editor#format" data-editor-format-param="toggleBlockquote">
				<i class="fa fa-quote-left"></i>
			</button>
		</div>

		<div data-editor-target="editor"></div>
	<% end %>

	<div data-editor-target="rendered">
		<%= card.content_html %>
	</div>
</div>
