<div
	class="editor"
	<% if card.editable? current_user %>
		data-controller="editor"
		data-editor-action-value="<%= polymorphic_path([card.campaign, card.acting_as]) %>"
		data-editor-search-value="<%= search_campaign_cards_path(card.campaign) %>"
	<% end %>
>

	<% if card.editable? current_user %>
		<script type="application/json" data-editor-target="content">
			<%= card.content.to_json.html_safe %>
		</script>

		<div data-editor-target="bubbleMenu">
			<button data-action="click->editor#bold">
				<i class="fa fa-bold"></i>
			</button>
			<button data-action="click->editor#italic">
				<i class="fa fa-italic"></i>
			</button>
		</div>

		<div data-editor-target="editor"></div>
	<% end %>

	<div data-editor-target="rendered">
		<%# <%= render_blocks card.content %>
	</div>
</div>
