<% content_for :card_nav do %>
   <%= link_to 'Edit', edit_polymorphic_path([@campaign, @card.specific]) %>
<% end %>

<div class="grid">
    <% unless @card.html_body.empty? %>
        <div class="paper">
            <%= @card.html_body %>
        </div>
    <% end %>
</div>
