
.image-select {
	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + .image {
		outline: 0.2em solid black;
	}

	.image {
		height: 100px;
	}
}

.inline-form {
	display: inline-block;
}

.inline-input {
	color: inherit;
	font: inherit;
	appearance: none;
	background: none;
	border: 0 none;
	border-bottom: calc(0.05em + 1px) transparent dotted;
	transition: border-color 0.15s;

	&:hover, &:focus, &:placeholder-shown {
		border-bottom-color: currentColor;
	}
}

.autosize-input {
	&:placeholder-shown {
		min-width: 4em;
	}
	width: 0;
}

.autosize-wrapper {
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	pointer-events: none;
}

.autosize-content {
	visibility: hidden;
	display: inline-block;
}

.link-button {
	appearance: none;
	font: inherit;
	color: inherit;
	text-align: inherit;
	background: none;
	border: 0 none;
	cursor: pointer;
	text-decoration: underline;

	@extend %link;
}
