@import "setup";

* {
	box-sizing: border-box;
}

.content {
	max-width: 70em;
	margin: 0 auto;
	padding: 1rem;

	.full-bleed & {
		margin: 0;
		max-width: none;
		width: 100%;
	}
}

.grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	grid-template-rows: masonry;
}

.wide {
	grid-column: span 2;
}

.grid hr {
	grid-column: 1 / -1;
	width: 100%;
}

hr {
	border: 0 none;
	border-bottom: 2px $colour-outline dotted;
}
