* {
	box-sizing: border-box;
}

.content {
	max-width: 70em;
	margin: 0 auto;
	padding: 1rem;

	.full-bleed & {
		margin: 0;
		max-width: none;
		width: 100%;
	}
}

.grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	grid-template-rows: masonry;
}

.editor {
	grid-column: span 3;
	padding-right: 2em;
}

.ce-block__content, .ce-toolbar__content {
	max-width: none;
}

.note-drag-handle {
	position: absolute;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}
