@import '../../../node_modules/rpg-awesome/scss/rpg-awesome';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$font-body: 'Lato', sans-serif;
$font-heading: 'Crimson Pro', serif;
$colour-outline: #0003;
