@use '@fortawesome/fontawesome-free/scss/variables' with ($font-path: '.');
@use '@fortawesome/fontawesome-free/scss/solid';
@use '@fortawesome/fontawesome-free/scss/fontawesome';
@use 'tippy.js/dist/tippy';
@use 'tippy.js/themes/light-border';
@use 'rpg-awesome/scss/rpg-awesome' with ($ra-font-path: '.');

$system-code: 'almanac' !global;

$o-typography-is-silent: true !global;
$o-fonts-is-silent: true !global;
$o-forms-is-silent: true !global;
$o-buttons-is-silent: true !global;
$o-typography-load-fonts: false !global;
$_o-typography-sans: "'Encode Sans', sans-serif" !global;
$_o-typography-serif: "'Crimson Pro', serif" !global;
$_o-typography-display: "'Crimson Pro', serif" !global;

@import '@financial-times/o-typography/main';
@import '@financial-times/o-fonts/main';
@import '@financial-times/o-forms/main';
@import '@financial-times/o-buttons/main';

@include oFontsDefineCustomFont("'Encode Sans'", (
	(weight: regular, style: normal),
	(weight: bold, style: normal),
	(weight: semibold, style: normal),
	(weight: regular, style: italic),
	(weight: bold, style: italic),
	(weight: semibold, style: italic)
));

@include oFontsDefineCustomFont("'Crimson Pro'", (
	(weight: regular, style: normal),
	(weight: bold, style: normal),
	(weight: regular, style: italic),
	(weight: bold, style: italic)
));


@include oForms();
@include oButtons();

$font-body: 'Encode Sans', sans-serif;
$font-heading: 'Crimson Pro', serif;
$colour-outline: #0003;
$colour-slate: #262a33;
$colour-crimson: #cc1452;
$colour-white: #fff;
$colour-fade: #fff6;
$colour-paper: #f9f1ea;

@function scrimGradient($startColor, $direction: 'to bottom') {

	$scrimCoordinates: (
	  0: 1,
	  19: 0.738,
	  34: 0.541,
	  47: 0.382,
	  56.5: 0.278,
	  65: 0.194,
	  73: 0.126,
	  80.2: 0.075,
	  86.1: 0.042,
	  91: 0.021,
	  95.2: 0.008,
	  98.2: 0.002,
	  100: 0
	);

	$hue: hue($startColor);
	$saturation: saturation($startColor);
	$lightness: lightness($startColor);
	$stops: ();

	@each $colorStop, $alphaValue in $scrimCoordinates {
	  $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
	  $stops: append($stops, $stop, comma);
	}

	@return linear-gradient(unquote($direction), $stops);
 }
