@use 'header' as *;

.user {
	position: relative;

	.notification {
		position: absolute;
		// TODO whatever
		top: calc(($header-height / 2) - 16px);
		left: 32px;
	}
}

.gravatar {
	vertical-align: middle;
	border-radius: 100%;
	margin-right: 0.5ch;
}
