@import 'setup';
@import 'header';
@import '../../../node_modules/rpg-awesome/scss/rpg-awesome';
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
	box-sizing: border-box;
}

body {
	font-family: $font-body;
	margin: 0;
	background: #f9f1ea;
}

h1, h2, h3 {
	font-family: $font-heading;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	.ra, .fa {
		font-size: 0.8em;
	}
}

a, a:visited {
	color: inherit;
}

a:hover {
	text-decoration-thickness: 2px;
}

a:active {
	text-decoration-thickness: 3px;
}

.image {
	position: relative;
	background-color: var(--image-color);

	canvas, img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition-property: opacity;
	}

	canvas {
		transition-duration: 0.2s;
	}

	img {
		z-index: 1;
		transition-duration: 0.5s;
		object-fit: cover;
	}

	html[data-turbolinks-preview] & {
		canvas, img {
			transition-duration: 0s;
		}

		canvas {
			opacity: 1
		}

		img {
			opacity: 0;
		}
	}

	&.loading canvas {
		opacity: 1;
	}

	&.loaded img {
		opacity: 1;
	}

	&.loaded-instant img {
		transition-duration: 0.1s;
	}
}

.image-select {
	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + .image {
		outline: 0.2em solid black;
	}

	.image {
		height: 100px;
	}
}

.splash {
	position: relative;
	width: 100%;
	min-height: 10em;
	max-height: 20vh;
	height: 30vw;
	border-bottom: 1px solid $colour-outline;

	&.image {
		height: 40vw;
		max-height: 40vh;
	}
}

.content {
	max-width: 70em;
	margin: 0 auto;
	padding: 1rem;
}

.splash-wrapper {
	.image & {
		background: linear-gradient(
			to bottom,
			transparent,
			#262a33
		);

		color: white;
	}

	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	padding: 1%;
}

.splash-content {
	@extend .content;
	text-align: center;

	.image & > * {
		-webkit-text-stroke: calc(0.025em + 1px) #262a3377;
		paint-order: stroke fill;
	}

	h1 {
		font-size: 4em;
		margin: 0;
	}

	h2 {
		font-size: 2em;
	}

	a {
		color: inherit;
	}
}

.grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	grid-template-rows: masonry;
}

$card-radius: 0.3em;

.card {
	padding: 1rem;
	border: 1px solid $colour-outline;
	border-radius: $card-radius;
	box-shadow: 0 2px 4px -4px #0007;
	overflow: hidden;
	color: inherit;
	text-decoration: none;

	header.image {
		margin: -1em -1em 1em;
		width: calc(100% + 2em);
		height: 6em;
		border-top-left-radius: $card-radius;
		border-top-right-radius: $card-radius;
		border-bottom: 1px solid $colour-outline;

		&:last-child {
			margin-bottom: -1em;
			border-bottom: 0 none;
			border-radius: $card-radius;
			height: 8em;
		}
	}

	h3 {
		font-size: 1.6em;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.paper {
	@extend .card;
	background: white;
	border-radius: 0;
	grid-column: span 2;
	min-height: 10em;
	box-shadow: 0 4px 8px -6px #0007;

	&.field {
		padding: 0;
	}

	&:not(.field) {
		border: 0 none;
	}

	textarea {
		width: 100%;
		min-height: 10em;
		resize: vertical;
		border: 0 none;
		font: inherit;
		padding: 0.5em;
	}
}

ul, ol {
	padding-left: 1em;
}

.inline-input {
	color: inherit;
	font: inherit;
	appearance: none;
	background: none;
	border: 0 none;
	border-bottom: 0.05em currentColor dotted;
}

.image-attribution {
	position: absolute;
	z-index: 3;
	bottom: 1rem;
	right: 1rem;
	color: white;
	font-size: 0.8em;
}

.gravatar {
	vertical-align: middle;
	border-radius: 100%;
	margin-right: 0.5ch;
}
