@import 'setup';
@import 'layout';
@import 'header';
@import 'ornaments';
@import 'typography';
@import 'image';
@import 'splash';
@import 'card';
@import 'form';
@import 'badge';
@import 'quest-list';
@import 'user';

body {
	margin: 0;
	background: #f9f1ea;
}
