@use 'setup' as *;
@use 'layout';
@use 'header';
@use 'ornaments';
@use 'typography';
@use 'image';
@use 'splash';
@use 'card';
@use 'form';
@use 'badge';
@use 'quest-list';
@use 'user';

body {
	margin: 0;
	background: $colour-paper;
}
