<% image_class ||= '' %>

<% if image %>
	<%= render image.specific, { tag_name: 'header' }.reverse_merge(local_assigns) do %>
		<div class="splash-wrapper">
			<div class="splash-content">
				<%= yield %>
			</div>
		</div>
	<% end %>
<% else %>
	<header class="<%= image_class %>">
		<%= yield %>
	</header>
<% end %>
