<% unless location.html_body.empty? %>
   <div class="paper">
      <%= location.html_body %>
   </div>
<% end %>

<%= render location.children %>
<%= render location.quests %>
<%= render location.objectives %>
