<%= render 'cards/form', card: card do |form| %>
   <%= form.fields_for :actable, card.actable do |a| %>
      <div class="field">
         <%= a.label :parent_id %>
         <%= a.collection_select :parent_id, card.campaign.locations.where.not(id: card.specific.id), :id, :title, include_blank: true %>
      </div>
   <% end %>
<% end %>
