<% content_for :title, @card.title %>

<% content_for :nav do %>
   <%= link_to @campaign do %>
      <h3><%= @campaign.name %></h3>
   <% end %>
<% end %>

<% content_for :header do %>
   <h1><%= @card.title || "New #{@card.specific.model_name.human}" %></h1>
<% end %>

<%= render template: 'layouts/header_and_content' %>
